<head>
    <title>meteor-multipage</title>
</head>

<body>
    {{> page_controller}}
</body>

<template name="page_controller">
    {{{display_page}}}
</template>

<template name="home">
    <div class="home">
        <h1>Home</h1>
        Welcome home.
        <br>
        <a href="/help" class="navlink">Help</a>
    </div>
</template>
